h1 {

    color: white;

}

body {

    display: grid;
    place-items: center;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {

    margin-bottom: 30px;

}

input {

    width: 400px;
    height: 80px;
    font-size: 2rem;
    padding-left: 5%;

}

input:focus {

    outline: none;
}

button.add {

    width: 100px;
    cursor: pointer;
    background: rgb(80, 233, 80);
    color: black;
    border: 1px gray solid;
    font-size: 2rem;
    border-top-right-radius: 20px;

}

.area-input {
    display: flex;
}

.descricao {
    width: 475px;
    font-size: medium;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px gray solid;
}

.titulo {
    border-top-left-radius: 20px;
    border: 1px gray solid;
}

.tarefinhas {

    color: white;
    font-size: large;

}

.tarefas-lista {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.div-tarefa {

    border: 6px solid white;
    background-color: rgb(49, 48, 48);
    min-height: 150px;
    width: 50%;
    margin-bottom: 30px;
    padding: 10px;
    color: white;
    box-shadow: 0 0 20px;
}

.div-tarefa-feita {

    border: 6px solid rgb(4, 255, 4);

}

.tarefa-itens {

    display: flex;
    justify-content: center;
    align-items: center;

}

.tarefa-titulo {

    padding-left: 30px;

}

.tarefa-descricao {

    flex: 50%;
    text-align: center;


}

.tarefa-deletar {

    flex: 1%;

}

.button-delete {

    font-size: 2rem;
    text-align: center;
    color: rgb(255, 51, 51);
    border: none;
    background-color: rgb(49, 48, 48);
    cursor: pointer;

}

.tarefa-check {

    flex: 1%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;

}

.tarefa-check-feita {

    flex: 1%;
    font-size: 2rem;
    text-align: center;
    color: rgb(4, 255, 4);
    cursor: pointer;

}

