h1 {

    color: white;

}

body {

    display: grid;
    place-items: center;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {

    margin-bottom: 30px;

}

input {

    width: 400px;
    height: 80px;
    font-size: 2rem;
    padding-left: 5%;

}

input:invalid {

    outline: none;
    box-shadow: none;

}

p {

    font-size: x-large;
    margin: 0px;
}

input:focus {

    outline: none;
}

button.add {

    width: 100px;
    cursor: pointer;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: whitesmoke;
    border: 1px gray solid;
    font-size: 2rem;
    border-top-right-radius: 20px;

}

.botoes-filtro {

    cursor: pointer;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: whitesmoke;
    border: 1px gray solid;
}

.input-sub {

    font-size: 20px;
    padding: 2px 5px;

}

.area-input {
    display: flex;
}

.descricao {
    width: 475px;
    font-size: medium;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px gray solid;
}

.titulo {
    border-top-left-radius: 20px;
    border: 1px gray solid;
}

.tarefinhas {

    color: white;
    font-size: large;

}

.tarefas-lista {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.div-tarefa {

    border: 6px solid white;
    background-color: rgb(49, 48, 48);
    min-height: 150px;
    width: 50%;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 60px;
    color: white;
    box-shadow: 0 0 20px;
}

.div-subtarefa {

    display: flex;
    background-color: rgb(49, 48, 48);
    padding-top: 30px;
    justify-content: space-between;

}

.div-tarefa-feita {

    border: 6px solid rgb(4, 255, 4);

}

.tarefa-itens {

    display: flex;
    justify-content: center;
    align-items: center;

}

.subtarefa-itens {



}

.tarefa-titulo {

    padding-left: 30px;

}

.subtarefa-titulo {

    

}

.tarefa-descricao {

    flex: 50%;
    text-align: center;


}

.tarefa-deletar {

    flex: 1%;

}

.subtarefa-deletar {

    padding-right: 114px;

}

.tarefa-subtarefa {

    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.button-delete {

    font-size: 2rem;
    text-align: center;
    color: rgb(255, 51, 51);
    border: none;
    background-color: rgb(49, 48, 48);
    cursor: pointer;

}

.button-subtarefa {

    justify-content: center;
    margin-top: 20px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    transition: color 0.4s ease-in-out;

}

.button2-subtarefa {

    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    transition: color 0.4s ease-in-out;

}

.tarefa-check {

    flex: 1%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;

}

.subtarefa-check {

    cursor: pointer;
    font-size: x-large;
    padding-left: 140px;

}

.tarefa-check-feita {

    flex: 1%;
    font-size: 2rem;
    text-align: center;
    color: rgb(4, 255, 4);
    cursor: pointer;

}

.subtarefa-check-feita {

    color: rgb(4, 255, 4);

}

