h1 {

    color: white;

}

body {

    display: grid;
    place-items: center;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {

    display: flex;
    margin-bottom: 30px;
    border: black solid 2px;

}

input {

    width: 80%;
    height: 80px;
    font-size: 2rem;
    padding-left: 5%;

}

input:focus {

    outline: none;
}

button.add {

    width: 20%;
    cursor: pointer;
    background: rgb(80, 233, 80);
    color: black;
    border: none;
    font-size: 2rem;

}

.div-tarefa {

    border: 6px solid aqua;
    background-color: rgb(49, 48, 48);
    height: 150px;
    width: 50%;
    margin-bottom: 30px;
    padding: 10px;
    color: white;
    box-shadow: 0 0 20px;
}

.div-tarefa-feita {

    border: 6px solid aqua;
    background-color: rgb(49, 48, 48);
    height: 150px;
    width: 50%;
    margin-bottom: 30px;
    padding: 10px;
    color: white;
    box-shadow: 0 0 20px;
}

.tarefa-itens {

    display: flex;
    justify-content: center;
    align-items: center;

}

.tarefa-titulo {

}

.tarefa-descricao {

    flex: 50%;
    text-align: center;


}

.tarefa-deletar {

    flex: 1%;
    font-size: 2rem;
    text-align: center;

}

.tarefa-check {

    flex: 1%;
    font-size: 2rem;
    text-align: center;

}

.tarefa-feita {

    flex: 1%;
    font-size: 2rem;
    text-align: center;
    color: rgb(4, 255, 4);

}

